In [1]:
import re
import nltk
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/pantulis/recetario/master/db/recipes.csv")

In [3]:
df.head(3)

,id,name,description,user_id,created_at,updated_at
0,10,Ensalada polluda,"Mezclar todo y aliñar con aceite, vinagre y sa...",1,2009-10-12 13:56:47,2009-10-12 13:56:48
1,11,Pollo frito,Calentar el aceite con un par de dientes de aj...,1,2009-10-12 13:56:47,2009-10-12 13:56:48
2,12,Pez espada a la plancha,Hacer el pez espada a la plancha.,1,2009-10-12 13:56:47,2009-10-12 13:56:48

Procedemos a transformar los datos

In [4]:
df['description'] = df['description'].astype(str).str.lower()

In [5]:
from nltk.tokenize import RegexpTokenizer

regexp = RegexpTokenizer('\w+')

df['description_token']=df['description'].apply(regexp.tokenize)
df.head(3)

,id,name,description,user_id,created_at,updated_at,description_token
0,10,Ensalada polluda,"mezclar todo y aliñar con aceite, vinagre y sa...",1,2009-10-12 13:56:47,2009-10-12 13:56:48,"[mezclar, todo, y, aliñar, con, aceite, vinagr..."
1,11,Pollo frito,calentar el aceite con un par de dientes de aj...,1,2009-10-12 13:56:47,2009-10-12 13:56:48,"[calentar, el, aceite, con, un, par, de, dient..."
2,12,Pez espada a la plancha,hacer el pez espada a la plancha.,1,2009-10-12 13:56:47,2009-10-12 13:56:48,"[hacer, el, pez, espada, a, la, plancha]"

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Alejandro\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
from nltk.corpus import stopwords

stopwords = nltk.corpus.stopwords.words("spanish")

In [8]:
df['description_token'] = df['description_token'].apply(lambda x: [item for item in x if item not in stopwords])
df.head(3)

,id,name,description,user_id,created_at,updated_at,description_token
0,10,Ensalada polluda,"mezclar todo y aliñar con aceite, vinagre y sa...",1,2009-10-12 13:56:47,2009-10-12 13:56:48,"[mezclar, aliñar, aceite, vinagre, sal, servir..."
1,11,Pollo frito,calentar el aceite con un par de dientes de aj...,1,2009-10-12 13:56:47,2009-10-12 13:56:48,"[calentar, aceite, par, dientes, ajo, pelados,..."
2,12,Pez espada a la plancha,hacer el pez espada a la plancha.,1,2009-10-12 13:56:47,2009-10-12 13:56:48,"[hacer, pez, espada, plancha]"

In [9]:
df['description_string'] = df['description_token'].apply(lambda x: ' '.join([item for item in x if len(item)>2]))

df[['description', 'description_token', 'description_string']].head()

,description,description_token,description_string
0,"mezclar todo y aliñar con aceite, vinagre y sa...","[mezclar, aliñar, aceite, vinagre, sal, servir...",mezclar aliñar aceite vinagre sal servir fresq...
1,calentar el aceite con un par de dientes de aj...,"[calentar, aceite, par, dientes, ajo, pelados,...",calentar aceite par dientes ajo pelados freír ...
2,hacer el pez espada a la plancha.,"[hacer, pez, espada, plancha]",hacer pez espada plancha
3,cortar las patatas en daditos. freír las pata...,"[cortar, patatas, daditos, freír, patatas, abu...",cortar patatas daditos freír patatas abundante...
4,hacer tortillas a la francesa con poco aceite....,"[hacer, tortillas, francesa, aceite, huevo, si...",hacer tortillas francesa aceite huevo queso pa...

In [10]:
all_words = ' '.join([word for word in df['description_string']])

In [11]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
nltk.download('omw-1.4')

wordnet_lem = WordNetLemmatizer()

df['text_string_lem'] = df['description_string'].apply(wordnet_lem.lemmatize)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Alejandro\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Alejandro\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [12]:
df['text_string_lem'].head()
df['text_string_lem'].to_csv('ejemplo.csv')